// Define your breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

// Container width settings for each breakpoint
$container-widths: (
  "xs": 100%,
  // Extra small
  // "sm": 540px,
  "sm": 100%,
  // Small
  "md": 720px,
  // Medium
  "lg": 960px,
  // Large
  "xl": 1140px,
  // Extra large
  "xxl": 1320px // Extra extra large,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

// Mixin to generate container styles
@mixin container {
  width: 100%;
  margin: 0 auto;
  @include respond-to(small) {
    width: auto;
  }
  padding-right: 22px;
  padding-left: 22px;
  box-sizing: border-box;

  @each $breakpoint, $value in $breakpoints {
    @if map-get($container-widths, $breakpoint) {
      @media (min-width: $value) {
        max-width: map-get($container-widths, $breakpoint);
      }
    }
  }
}

// Apply the container styles
.container {
  @include container;
}

.container-fluid {
  display: flex;
  margin-bottom: 30px;
  @include respond-to(large) {
    flex-direction: column;
  }
}

.main-container {
  width: 70%;
  box-sizing: border-box;
  @include respond-to(large) {
    width: 100%;
  }

  p,
  span,
  li {
    font-size: 1.1em;
  }
}

.side-container {
  width: 30%;
  display: flex;
  box-sizing: border-box;
  @include respond-to(large) {
    width: 100%;
  }
}
