.site-footer {
  background: $black;
  color: $white;
  text-align: center;
  padding: 20px 50px;
  .header-title {
    font-size: 32px;
    margin: 22px 0;
    color: $gray-blue;
    cursor: pointer;

    @include respond-to(small) {
      font-size: 20px;
    }

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }

    .header-title-name {
      color: rgb(52, 52, 52);
      font-weight: bold;
    }

    &.dark {
      color: $gray-blue-dark;
      .header-title-name {
        color: $gray-blue;
      }
    }
  }
}
