body {
  margin: 0;
  font-family: sans-serif;
  color: $font-color;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p {
  word-wrap: break-word;
}

.center-align {
  text-align: center;
}

.center-align-content {
  display: flex;
  justify-content: center;
}

.two-col {
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}

.component-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

code {
  background: $gray;
  padding: 2px 5px;
  border-radius: 2px;
  &:not(:has(pre)) {
    word-wrap: break-word;
  }
}

pre {
  border: 2px solid #3a69c7;
  background: #263238;
  border-radius: 5px;
  padding: 15px;
  overflow-x: scroll;

  code {
    color: #eeffff;
    font-size: 15px;
    line-height: 1.5;
    padding: unset;
    border-radius: unset;
    background: unset;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    padding: 5px;
    border-radius: 50%;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    transition: 0.2s;
  }
}

.remove-top-margin {
  margin-top: 0 !important;
}
