@import "../vars/colors";

.background-primary {
  background-color: $primary;
  color: $white;
}

.background-gray {
  background: $gray;
  color: $black;
}

.background-white {
  background-color: $white;
  color: $black;
}

.background-black {
  background-color: $black;
  color: $white;
}
